* {
    box-sizing: border-box;
}
body {
      margin: 0;
}
  
.container {
      max-height: 100vh;
      margin: 0 auto;
}

.imglogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgmonde{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bourgogne{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bordeaux{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
      
  
  /* CODAGE POUR LA BOXE DU HAUT */
.photohaut {
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      padding: 0px 0px 10px 0px;
      gap: 10px;
}
.boxphoto {
      width: 100%;
      display: grid;
      place-items: center;
      font-size: 2rem;  
      color: #f1f1f1;
}
.photo1 {
    background: green;
    width: 100%;
}
@media (min-width: 500px) {
    .boxphoto {
          height: 300px;
    }
}
@media (min-width: 900px) {
    .photohaut {
      flex-direction: row;
    }
}
  
  
/* CODAGE POUR LES 3 BOXES DU MILIEU */   
  
.photocentre {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.boxcentral {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;  
}
.photo2 {
    background: red;
    width: 100%;
}

.photo3 {
    background: orange;
    width: 100%;
}
@media (min-width: 500px) {
    .boxcentral {
      height: 300px;
    }
}
@media (min-width: 900px) {
    .photocentre {
      flex-direction: row;
    }
}
  
      
  
  /* CODAGE POUR LA BOXE DU BAS */
  .photobas {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
  }
  .boxphotobas {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;  
    color: #f1f1f1;
  }
  .photo4 {
    background: green;
    width: 100%;
  }
@media (min-width: 500px) {
  .boxphotobas {
    height: 300px;
}
}
@media (min-width: 900px) {
  .photobas {
    flex-direction: row;
}
}