body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family : "Kaushan Script", cursive ;
}

.container {
  margin: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    display: flex;
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    line-height: 48px;
    color: #590404;
    justify-content: center;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

/* style formulaire */        
form {
/* On centre le formulaire */
    margin: 20px;
    width: 770px;
/* Le contour du formulaire */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Taille et alignement uniformes */
  display: inline-block;
  width: 150px;
  text-align: left;
}
.formulaire{
  /* On s'assure que les champs texte ont la même police
     Par défaut, les zones de texte ont une police à chasse
     fixe. */
  font: 1em sans-serif;

  /* Taille uniforme pour des champs */
  width: 500px;
  box-sizing: border-box;

  /* On utilise la même bordure que pour le formulaire */
  border: 1px solid #999;
}



textarea {
  /* On aligne les textes sur plusieurs lignes avec leur
     libellé. */
  vertical-align: top;

  /* On fournit un peut d'espace pour saisir du texte. */
  height: 5em;

  /* On permet de redimensionner verticalement. */
  resize: vertical;
}       
        
        
        
    
 /* style tableau */
       
table {
    border-collapse: collapse;
    width: 800px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #f2f2f2;
}
        
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.colonneproduit {
    width: 550px;
    text-align: left;
}
        
.nomproduit {
    text-align: left;
}

.colonnequantite {
    width:80px;
}

.colonneprix, .colonnetotal {
    width: 100px;
    padding: 10px;
}

.container {
    width: 800px;
    text-align: center;
}
        

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 30px;
    margin: 20px 0px 20px 0px;
}        
        
.bouton-commande {
    display: inline-block;
    width: 250px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #590404;
    text-decoration: none;
    border: 2px solid #590404;
    border-radius: 5px;
    background-color: white;
}

.bouton-commande:hover, .bouton-commande:active {
    background-color: #590404;
    color: white;
}

 /* style footer */

 .ligneverte {
    width: 800px;
    border-top: 1px solid #365E37;
}
.footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px
}
.coordonnees {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    display: inline-block;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0px 20px 0px 20px

}

.infosplus {
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}



/* style paypal */

