body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family : "Kaushan Script", cursive ;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}

a {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #365E37;
    text-decoration: none;
}
