body {
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Orbitron', sans-serif;
  font-family : "Kaushan Script", cursive ;
  margin: 0;
}

h2 {
  display: flex;
  font-family : "Kaushan Script", cursive ;
  font-size: 30px;
  line-height: 32px;
  color: #590404;
  justify-content: center;
  text-align: center;
}


/* Par défaut, le logo horizontal est affiché, le logo vertical est caché */

.logohorizontal {
  width: 500px;
  object-fit: cover;
  padding: 20px 0px 20px 0px;
}

.logovertical {
  width: 350px;
  object-fit: cover;
  display: none;
  padding: 20px 0px 20px 0px;
}

/* style header = LOGO + NAVBAR + PHOTO THEME */

.divimgcentrale{
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 20px 0px;
}

.navbar-liens {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-liens li {
  margin: 0 30px;
}

.navbar-liens a {
  font-family: 'Orbitron', sans-serif;
  color: #8AAE27;
  text-decoration: none;
  font-size: 1.4em;
}

.navbar-liens a:hover {
  text-decoration: underline;
  text-decoration: none;
  color: #365E37;
  font-weight: bold;
}



/* style photo thematique central */
.phototheme {
  width: 100%;
  height:300px;
}

.imagehautbas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.bandeautheme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.themebourgogne {
  width: 300px;
  height: 50px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #590404;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  margin: 0px;
}



/* style bouteilles centrales */

.divimgcentrale{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colonnes{
  width: 20%;
  margin: 0 auto;
  padding: 0%;
}

.bouteille{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taillebouteille{
  width: 150px;
  height: 350px;
  justify-content: center;
  object-fit: cover;
  object-position: center;
  transition: transform .1s;
}

.taillebouteille:hover{
  -ms-transform: scale(1.8); /* IE 9 */
  -webkit-transform: scale(1.8); /* Safari 3-8 */
  transform: scale(1.8);
}





/* style pour les petits écrans */

@media (max-width: 600px) {
  /* Pour les petits écrans, le logo horizontal est caché et le logo vertical s'affiche */
  .logohorizontal {
    display: none;
  }

  .logovertical {
    display: block;
  }

  .themebourgogne {
    width: 200px;
    height: 40px;
  }

  .imglogo {
    object-fit: cover;
    max-width: 100%;
  }

/* style pour la navbar */
.navbar-liens {
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.navbar-liens li {
  width: 300px;
  padding: 10px;
  background-color: #F9F5DB;
  text-align: center;
}


}